// Specific CSS for your home-page
.homepage-banner {
  display: block;
  height: 60vh;
}
.container-red {
  width: 50%;
  height: 100%;
  // background-color: $red;
  float: left;
  text-align: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Giampietrino-Last-Supper-ca-1520.jpg/1600px-Giampietrino-Last-Supper-ca-1520.jpg');
  background-position: center top;
}

.container-yellow {
  padding: 80px 60px;
  width: 50%;
  height: 100%;
  background-color: $yellow;
  float: left;
  text-align: center;
}

.home-image {
  object-fit: contain;
  width: 85%;
  height: 85%;
  margin: 40px auto;
}

.container-yellow h1 {
  font-weight: 900;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 70px;
  letter-spacing: 2px;
}

.container-yellow h2 {
  font-family: 'Calistoga';
  text-align: center;
  font-size: 50px;
}

.container-yellow p {
  text-align: center;
  font-size: 21px;
}

