// Specific CSS for your home-page
.homepage-banner {
  display: block;
  height: 92vh;
}
.container-red {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Giampietrino-Last-Supper-ca-1520.jpg/1600px-Giampietrino-Last-Supper-ca-1520.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-yellow {
  padding: 50px;
  width: 50%;
  height: 100%;
  background-color: $yellow;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  object-fit: contain;
  width: 85%;
  height: 85%;
  margin: 40px auto;
}

.container-yellow h2 {
  margin-top: -20px;
  font-family: 'Calistoga';
  font-size: 50px;
}

.container-yellow p {
  font-size: 28px;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;

}

div.container-instruction {
  margin-top: 70px;
}
