<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github fa-sm"></i></a>
    <a href="#"><i class="fab fa-instagram fa-sm"></i></a>
    <a href="#"><i class="fab fa-facebook fa-sm"></i></a>
  </div>
  <div class="footer-copyright">
    This product was built with an empty stomach
  </div>
</div>
