<% if event.bookings.any? %>
  <div class="user-card-grid">
  <% event.bookings.each do |booking| %>
    <%#= link_to "", profile_path(booking.user), class: "link" %>
    <div class="cards-for-all-guests">
      <%if booking.user.photo? %>
        <%= cl_image_tag (booking.user.photo), class: 'avatar', id: "guest-picture" %>
      <% else %>
        <%= image_tag ("https://myspace.com/common/images/user.png"), class: "show-picture", class: 'avatar', id: "guest-picture"%>
      <% end %>
      <!-- <div class="text-center"> -->
      <p><%= "#{booking.user.first_name.capitalize}" %></p>
     <!--  </div> -->
    </div>
    <div id="guest-profile-page" class="modal">
      <div class="guest-content">
        <!-- <span class="close-guest-profile">&times;</span> -->
        <i class="fas fa-times close-guest-profile close"></i>
        <%= render 'shared/guest', user: booking.user %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>


