<div class="homepage-banner">
  <div class="container-red">
    <%= image_tag "breakingbread.png", class: "home-image" %>
  </div>

  <div class="container-yellow">
    <h1>Real Meal</h1>
    <h2>Break the bread with authentic people</h2>
    <p>It won't be your last supper</p>
  </div>
</div>

<div class="container">
  <%= render 'shared/searchform' %>
</div>
