<div class="homepage-banner">
  <div class="container-red">
  </div>

  <div class="container-yellow">
    <h2>Break the bread with authentic people in Berlin</h2>
    <p>It won't be your last supper</p>
    <%= link_to 'Find an experience', events_path(events: {address: ''}), class: 'btn btn-black' %>
  </div>
</div>

<!-- <div class="container">
  <%#= render 'shared/searchform' %>
</div> -->

<div class="container-instruction">
    <h2>How it works</h2>
    <p>It's just as simple as it looks!</p>
</div>


<ul class="cards-instruction" style='padding: 0 40px 80px 40px;'>
  <li class="cards__item_instruction">
    <div class="card-instruction">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">Browse all experiences</div>
        <p class="card__text">Explorer dinners, lunches, aperitifs and so much more...
         Book one of our exceptional dining experiences with unique people from different countries
       and create unique memories that will last you a lifetime!</p>
       <%= link_to "Browse all experiences", events_path(events: {address: ''}), class: 'btn btn-info full-width' %>
      </div>
    </div>
  </li>
  <li class="cards__item_instruction">
    <div class="card-instruction">
      <div class="card__image card__image--record"></div>
      <div class="card__content">
        <div class="card__title">Experience & Review</div>
        <p class="card__text">Enjoy the the spirit of other cultures, or meet
        people from your home country. After your wonderful experience
        you get the possibility to review the host or be a host yourself</p>
        <%= link_to "Experience & Review", mybookings_path, class: 'btn btn-info full-width' %>
      </div>
    </div>
  </li>
  <li class="cards__item_instruction">
    <div class="card-instruction">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Become a host</div>
        <p class="card__text">Why not becoming a host yourself? If you like to be
        surrounded by interesting and hungry people, add your event and share your
        traditional food specialities.</p>
        <%= link_to "Become a host", new_event_path, class: 'btn btn-info full-width' %>
      </div>
    </div>
  </li>
</ul>

