.btn-cancel {
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  // margin-bottom: 0px;
}

.btn {
  font-weight: 700;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  &:hover {
  color: black;
  background-color: white;
  border: 1px solid;
  text-decoration: none;
}
}

.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.outline-btn {
  height: 100%;
  background-color: none;
  border: 1px black solid;
  transform: translateY(-5px);
  &:hover {
    background-color: $yellow;
  }
}

.btn-padding {
  padding: 5px 20px;
}

.full-width {
  width: 100%;
}

.btn-black {
  background-color: black;
  font-size:18px;
  padding: 10px 20px;
  color: #fff;
  margin-top: 10px;
  &:hover {
  color: black;
  background-color: $yellow;
}
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $yellow !important;
}
