.search-form {
  max-width: 1100px;
  padding: 30px 0 0 0px;
}

.search-form .date_field {
  width: 150px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 15px;
  border-right: none;
}

.search-form .form-group {
  display: inline-block;
  padding: 10px 10px;
}

.search-form .form-group .button {
  width: 109px;
}

.center-form {
  width: 350px;
  padding: 25px;
  background-color: white;
  margin: 20px auto;
}

.form-booking {
  padding: 10px 20px;
  border-radius: 0px;
  background: white;
}

.event-form-container {
  width: 50%;
  float: left;
  padding-left: 50px;
}

.review-form {
  // border: 1px solid $yellow;
  width: 400px;
  padding: 25px;
  margin: 50px auto;
}

.event-form {
  // border: 1px solid $yellow;
  width: 600px;
  padding: 25px;
  margin: 20px auto;
}

.form-control {
  border: 1px solid #000 !important;
  border-radius: 0 !important;
}


.booking-form .form-control {
  border: none !important;
  border-radius: 0 !important;
}

.search-form .form-control {
  border: 1px solid black !important;
  max-width: 170px !important;
}

.form-control[readonly] {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

.form-group .select2-container--classic .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #000 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  background-image: none !important;
  // min-width: 60px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  border-left: 1px solid #000 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  background-image: none !important;
  height: calc(100% - 2px) !important;
  top: 1 !important;
  right: 1 !important;
  // min-width: 30px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent !important;
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #000 !important;
}


.select2-container .select2-selection--single .select2-selection__rendered {
  width: 60px !important;
  padding-top: 5px !important;
  padding-right: 32px !important;
}

.form-control:focus {
  color: #000 !important;
  border-color: #000 !important;
  box-shadow: none !important;
}

form.simple_form.events {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10px;
}

.booking-form-container .form-group {
  display: inline-block !important;
  border-radius: 0 !important;
  margin: 0 15px;
  border: 1px solid black;
}

// .zindex {
//   width: 100%;
//   margin-bottom: 15px;
// }


// .br-theme-fontawesome-stars .br-widget a {
//   color: $yellow !important;
// }
// .br-theme-fontawesome-stars .br-widget a.br-selected:after {
//   color: $yellow;
// }
