.container-red {
  width: 50%;
  height: 450px;
  background-color: #fc9381;
  float: left;
}


.container-yellow {
  width: 50%;
  height: 450px;
  background-color: #ffec42;
  float: left;
}

.home-image {
  width: 90%;
  height: 90%;
  margin: 30px;
}

h1 {
  font-family: 'Calistoga';
  text-align: center;
  font-size: 70px;
  margin-top: 70px;
}

h2 {
  font-family: 'Calistoga';
  text-align: center;
  font-size: 50px;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

