.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  float: right;
}

.message-content {
  margin: 20% auto;
  padding: 20px;
  background-color: $body-bg;
  width: 800px;
  z-index: 25;
}
