.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
   color: white;
}

.navbar-expand-sm .navbar-nav {
  padding-right: 0px !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffec42;;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.brand-name {
  margin: 0 20px;
  font-weight: 700;
  font-size: 21px;
  z-index: 10;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-nav img {
  margin-left: 15px;
}
