.dashboard_container {
  text-align: center;
  width: 1000px;
  margin: auto;
}


.dashboard_container h3 {
  margin-top: 50px;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  grid-auto-rows: auto;

}

.event-card {
  justify-self: center;
  overflow: hidden;
  background: white;
  width: 300px;
  margin: 20px 0;
}

.event-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.event-card > .infos {
  padding: 16px;
  position: relative;
  text-align: center;
}
