.section-title {
  margin: 50px 0 25px 0;
  // font-family: 'Calistoga', 'Georgia', serif;
}

.section-subtitle {
  text-transform: lowercase;
  font-variant: small-caps;
}

.review-stars {
  margin-bottom: 10px;
}

.small-uppercase {
  text-transform: lowercase;
  font-variant: small-caps;
}

.bold {
  font-weight: 700;
}

.event-name {
  font-family: 'Calistoga', 'Georgia', serif;
  font-size: 24px;
}

.underline {
  border-bottom: 1px solid black;
}

.event-date {
  text-transform: uppercase;
  font-size: 14px;
}

.host_bookings_link {
  margin-bottom: 15px;
  // display: block;
  color: black;
  font-weight: 600;
}

.block {
  display: block;
  margin-bottom: 25px;
}

.status {
  color: $red;
}

.status-confirmed {
  color: $green;
}

.text-link {
  color: $red !important;
}
